
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://img.freepik.com/photos-premium/salle-cinema-vide-sombre-scene-rideaux-rouges-tires-vue-rangees-sieges-vacants-arriere_126745-2231.jpg);">
  <div class="container">
    <h1>Save any kind of <strong>movies</strong></h1>
    <p>Classic</p>
  </div>
</div>


<div class="container">

  <div>
    <h1>ALL LISTS</h1>
  </div>

  <ul>
    <% @lists.each do |list| %>
    <li> <%= link_to list.name, list_path(list.id) %> </li>
    <% end %>
  </ul>
  </div>

  <div>
  <%= link_to "Add a new list", new_list_path%>
  </div>

</div>
